{{ 'AlphaListNav.css' | asset_url | stylesheet_tag }}
<div class="page-width">
    <div id="alphaNavContainer"></div>
    {% paginate shop.metaobjects.ingredients.values by 100 %}
        <ul id="ingredientIndex" class="">
            {% for metaobject in shop.metaobjects.ingredients.values %}
                <li>
                    <div class="card-ingredient__name twcss-hidden">{{ metaobject.name | escape }}</div>
                    {% render 'card-ingredient', card_ingredient: metaobject %}
                </li>
            {% endfor %}
        </ul>
    {% endpaginate %}
</div>


{% schema %}
{
    "name": "CL Ingredient list",
    "settings": [],
    "presets": [
        {
        "name": "A section that renders ingredients in a list"
        }
    ]
}
{% endschema %}
