<div class="page-width">
    {% paginate shop.metaobjects.ingredients.values by 100 %}
        <div class="twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-3 twcss-gap-16">
            {% for metaobject in shop.metaobjects.ingredients.values %}
            <div class="twcss-bg-white twcss-p-4 twcss-shadow twcss-rounded-lg">
                {% render 'card-ingredient', card_ingredient: metaobject %}
            </div>
            {% endfor %}
        </div>
    {% endpaginate %}
</div>
{% schema %}
{
    "name": "CL Ingredient list",
    "settings": [],
    "presets": [
        {
        "name": "A section that renders ingredients in a list"
        }
    ]
}
{% endschema %}
