<div class='twcss-w-full twcss-text-right twcss-bg-gray-200 twcss-py-2'>
  <div class='twcss-max-w-[1440px] twcss-m-auto twcss-px-20'>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% for link in linklists[block.settings.menu].links %}
          <a href="{{ link.url }}" class="twcss-mx-2">{{ link.title }}</a>
        {% endfor %}
      {% endfor %}
    {% else %}
      Contact us | Find a Stockist | Account
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Pre Header",
  "tag": "section",
  "class": "pre-header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu Block",
      "settings": [
        {
          "type": "menu",
          "id": "menu",
          "label": "Select Menu",
          "default": null
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Pre Header",
      "category": "Header"
    }
  ],
  "locales": {
    "en": {
      "title": "Pre Header"
    }
  },
  "enabled_on": {
    "groups": ["header"],
    "templates": ["*"]
  }
}
{% endschema %}
