<div class='twcss-text-black twcss-w-full twcss-text-right twcss-bg-gray-200 twcss-py-2 twcss-hidden md:twcss-block twcss-text-xl'>
  <div class='twcss-max-w-[1440px] twcss-m-auto twcss-px-20'>
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
        {% if block.settings.menu != blank %}
          {% for link in linklists[block.settings.menu].links %}
            <a href="{{ link.url }}" class="twcss-mx-2 twcss-leading-3 {% unless forloop.last %} twcss-border-r twcss-border-gray-300 twcss-pr-3 {% endunless %}">{{ link.title }}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% else %}
      Contact us | Find a Stockist | Account
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Pre Header",
  "class": "pre-header",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "menu",
      "name": "Menu Block",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Select Menu",
          "info": "Select a menu to display in the pre-header."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Pre Header",
      "category": "Header"
    }
  ]
}
{% endschema %}
