/** Typography styles **/

h1,
h2,
h3.inline-richtext,
.h0,
.h1,
.h2,
.h3,
.h4,
.hxl,
.badge,
.button,
.jdgm-rev-widg__title {
  font-weight: 700 !important;
}

.page-title.h0 {
  text-align: center;
}

.full-unstyled-link:hover {
  text-decoration: none !important;
}

ul,
ol {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.link.animate-arrow {
  display: flex;
  align-items: center;
}

.rich-text__text {
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
}

svg.icon.icon-arrow path {
  stroke-width: 3px;
}

/** Navigation **/

.header__inline-menu .link {
  font-size: 1.6rem !important;
}

a.mega-menu__link.mega-menu__link--level-2 {
  font-weight: 700 !important;
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
  font-size: 1.8rem !important;
}

.menu-link__with-image span.caption {
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
}

li.menu-link__with-image {
  margin-right: 1rem;
}

li.menu-link__without-image {
  padding-left: 4rem;
  padding-right: 4rem;
}

.header__icon .icon.icon-search {
  width: 2.8rem;
  height: 2.8rem;
}

.header__icon--search {
  margin-right: 1rem;
}

@media (min-width: 750px) {
  .modal__content {
    background-color: transparent !important;
  }
}

/** multi column **/

.multicolumn-card.content-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.multicolumn-card__info {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.multicolumn-card.content-container .multicolumn-card__info {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 0.5rem !important;
}

.multicolumn-card.content-container .multicolumn-card__info .link__wrapper {
  margin-top: auto;
}

.multicolumn .title {
  text-align: center;
}

/** Custom styling for Store locator **/

form#bh-sl-user-location button#scapl-geocode-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  color: #0d374b;
  background-color: transparent !important;
  border-color: #231f20;
  margin-top: 0px !important;
}

form#bh-sl-user-location button {
  height: 46px;
}

#bh-sl-address {
  border-width: 1px;
  padding: 0.5rem;
}

.bh-sl-container #page-header {
  display: none;
}

.bh-sl-form-container {
  border-width: 0px;
  #scasl-tab-radius {
    padding: 0px;
  }
}

@media (min-width: 750px) {
  #scasl-app-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

.scasl-see-more-content {
  display: flex;
  width: 100%;
}

.scasl-see-more-content > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.scasl-address-wrap {
  display: flex;
  width: 100%;
}

input#bh-sl-address {
  width: 90% !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

select#scasl-lengthUnit,
select#scasl-radius-container,
input#bh-sl-address {
  border-color: #231f20;
  border-width: 1px;
}

form#bh-sl-user-location .scasl-search-btn {
  border-width: 0px;
  padding: 0px;
}

.bh-sl-filters-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  padding-top: 1rem;
}

.bh-sl-filters-container label {
  display: none;
}

.permission-error {
  display: none !important;
}

/** reviews **/

.jdgm-rev-widg__header {
  padding-top: 2rem;
}

.jdgm-rev-widg__title {
  padding-bottom: 2rem;
}

.jdgm-all-reviews-rating-wrapper {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.jdgm-carousel-number-of-reviews {
  padding-top: 1rem !important;
  font-weight: 700 !important;
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.jdgm-carousel-item__review-body,
.jdgm-carousel-item__review-rating,
.jdgm-carousel-item__review-title,
.jdgm-carousel-item__reviewer-name {
  text-align: left;
}

.jdgm-carousel-item__review-rating {
  margin-bottom: 2rem !important;
}

.jdgm-rev__media {
  display: none !important;
  height: 0px !important;
}

.jdgm-carousel-item__reviewer-name.jdgm-ellipsis {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
  font-weight: 700 !important;
}

.jdgm-row-readmore {
  display: none !important;
}

.jdgm-rev-carousel .jdgm-rev {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.jdgm-write-rev-link {
  border-radius: 0.375rem !important;
}

/** Footer styles **/

.footer-block.grid__item a,
.footer__copyright {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
  opacity: 1 !important;
}

@media (min-width: 750px) {
  .footer__copyright,
  .footer__payment {
    margin-top: 0px !important;
  }

  .footer__social,
  .footer__payment,
  .footer__copyright {
    display: flex;
    height: 100%;
    align-items: center;
  }
}

.toggle-menu {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

.toggle-menu svg {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.footer-block.grid__item {
  border-bottom-width: 1px;
}

@media (min-width: 750px) {
  .footer-block.grid__item {
    border-width: 0px;
  }
}

.footer__bottom {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 750px) {
  .footer__bottom {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__content-bottom {
  border-color: transparent !important;
}

@media (min-width: 750px) {
  .footer__content-bottom {
    --tw-border-opacity: 1 !important;
    border-color: rgb(255 255 255 / var(--tw-border-opacity)) !important;
  }
}

.footer__content-top.page-width {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 0px;
}

@media (min-width: 750px) {
  .footer__content-top.page-width {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
}

.footer__blocks-wrapper.grid {
  margin-bottom: 0px;
}

@media (min-width: 750px) {
  .footer__blocks-wrapper.grid {
    margin-bottom: 2rem;
  }
}

.footer-block.grid__item {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

@media (min-width: 750px) {
  .banner__box.content-container--full-width-mobile {
    width: 50%;
  }
}

.image-with-text__text-item.grid__item {
  margin-top: auto;
  margin-bottom: auto;
}

.subtitle {
  color: #165c7d !important;
}

.multicolumn .title-wrapper-with-link {
  justify-content: center;
}

/** Slider buttons **/

.slider-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.slider-buttons button.slider-button {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(208 222 229 / var(--tw-bg-opacity));
  padding: 1rem;
}

.slider-buttons button svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/** Pagination **/

.pagination__item,
.pagination__item.link {
  border-radius: 0.375rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  padding: 1rem;
}

a.pagination__item-arrow {
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgb(208 222 229 / var(--tw-bg-opacity));
  padding: 1rem;
}

.pagination__item--current {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(142 194 201 / var(--tw-bg-opacity)) !important;
}

.pagination__item--current::after {
  background-color: transparent !important;
}

.jdgm-carousel__arrows {
  padding-top: 4rem;
}

.jdgm-carousel-wrapper {
  padding-bottom: 0px !important;
}

/** Product cards **/

.product-card-wrapper .card__information {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.collection__title {
  text-align: center;
}

.card__heading {
  gap: 1rem;
}

.product-title {
  margin-bottom: 1rem;
}

/** Product **/

.ingredient__accordion-content p:last-child {
  padding-bottom: 2rem;
}

/** Ingredient filter list **/

.alpha-list-group {
  list-style-type: none;
  display: grid;
  gap: 4rem;
}

@media (min-width: 750px) {
  .alpha-list-group {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.ingredient__search {
  margin: auto;
}

@media (min-width: 750px) {
  .ingredient__search {
    width: 50%;
  }
}

/** Alphabet filter **/

.character-element {
  cursor: pointer;
}

.character-element:hover {
  text-decoration: underline !important;
}

.alpha-list-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

/** Ingredient card **/

.ingredient-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
}

.ingredient-card__top {
}

.ingredient-card__bottom {
}

.ingredients-card__benefits {
  margin-top: auto;
}

.ingredients-card__benefits h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ingredients-card__benefits li {
  display: inline;
}

.ingredients-card__used-in--products {
  position: relative;
}

.ingredients-card__used-in--products .link {
  margin-right: 0.25rem;
}

.ingredient-card__title {
  margin-bottom: 1rem;
}

/** Slideshow **/

.slideshow__controls {
  border-style: none !important;
}

ul.collection-list .card__information,
ul.collection-list .card__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/** blogs & pages **/

.metafield-rich_text_field,
.article-template,
.shopify-policy__container {
  h1,
  h2,
  h3,
  h4,
  h5,
  blockquote,
  .embed-container {
    margin-bottom: 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 700;
  }
  p,
  li {
    margin-bottom: 1rem;
  }
  ul,
  ol {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
  blockquote,
  .embed-container {
    margin-top: 1rem;
  }
}

.article-template {
  h2,
  h3,
  h4 {
    margin-top: 3rem;
  }
  h3,
  .h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  @media (min-width: 750px) {
    h3,
    .h3 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
  }
}

.rte {
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 1rem;
  }
}

.rte li {
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
}

.rte p {
  margin-bottom: 1rem;
}

.rte img {
  border-style: none !important;
  display: inline-block !important;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.article-template__back {
  display: none;
}

.cl-article-card .media {
  background-color: transparent !important;
}

.shopify-policy__container {
  margin-bottom: 8rem;
  padding-top: 2rem;
}

/** Collections **/

.collection-hero__title {
  font-weight: 700;
}

/* Collapsable Row */

.h4.accordion__title {
  font-size: 24px;
}

.h4.accordion__title,
.accordion__content {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  padding: 0px !important;
}

.ingredients__accordion-content h3 {
  font-weight: 700;
}

.collapsible-content .accordion__content {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.accordion {
  border-top: none !important;
}

.ingredient__accordion span.metafield-multi_line_text_field {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

/** Points **/

.Avada-PointsCalculator__Container {
  border-bottom-width: 2px;
  font-weight: 700;
}

/** Product Media **/

@media (min-width: 750px) {
  .cl-product__media {
    display: flex !important;
    flex-direction: row !important;
  }

  .cl-slider-media {
    width: 75%;
  }
}

.cl-slider-media {
  order: 2;
}

@media (min-width: 750px) {
  .cl-thumbnail-slider {
    width: 25%;
    justify-content: flex-start;
  }

  .cl-thumbnail-slider .thumbnail-list {
    flex-direction: column;
    justify-content: flex-start;
  }
}

/** Shade swatch **/

.product-form__input--pill--shade {
  display: flex;
}

.product-form__input--pill--shade label {
  display: flex;
  align-items: center;
}

.product-form__input--pill--shade input[type='radio'] + label {
  border-style: none !important;
}

.product-form__input--pill--shade input[type='radio']:checked + label {
  background-color: transparent !important;
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.product-form__input--pill--shade input[type='radio'] + label {
  margin: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  padding: 0px !important;
}

.product-form__input--pill--shade input[type='radio'] + label span {
  margin-right: 1rem;
}

.product-form__input--pill--shade
  input[type='radio']:checked
  + label
  span.cl-swatch {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

span.cl-swatch {
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 0.375rem;
}

.collection-hero__description {
  --tw-text-opacity: 1;
  color: rgb(35 31 32 / var(--tw-text-opacity));
}

/** Newsletter **/

.newsletter__wrapper {
  gap: 2rem;
}

@media (min-width: 750px) {
  .newsletter__wrapper {
    display: flex;
  }
}

.newsletter__wrapper .newsletter__left {
  text-align: left;
}

@media (min-width: 750px) {
  .newsletter__wrapper .newsletter__left {
    flex-basis: 50%;
  }
}

@media (min-width: 990px) {
  .newsletter__wrapper .newsletter__left {
    padding-left: 16rem;
  }
}

.newsletter__wrapper .newsletter__right {
  align-items: flex-start;
  text-align: left;
}

@media (min-width: 750px) {
  .newsletter__wrapper .newsletter__right {
    flex-basis: 50%;
  }
}

.newsletter__wrapper .newsletter__right .newsletter-form {
  margin: 0px !important;
}

.newsletter-form__field-wrapper .field__input {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}

.newsletter-form__field-wrapper .button {
  width: 100% !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)) !important;
}

.newsletter__wrapper > * + * {
  margin: 0px !important;
}

.newsletter__right label {
  margin-bottom: 0.25rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

/** Custom Collage **/

.cl-collage-page-width {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 750px) {
  .cl-collage-page-width {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: 1440px) {
  .cl-collage-page-width {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.cl-collage .card__information {
  padding-bottom: 0px !important;
}

/** Forms **/

.field__input:focus {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.newsletter__right button:after {
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.contact__button {
  display: flex;
  justify-content: center;
}

/** Powerful contact form builder **/

.globo-form-control input,
.globo-form-control textarea,
.globo-form-control select {
  border-width: 2px !important;
  border-style: solid !important;
  --tw-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
  background-color: transparent !important;
}

.globo-form-control input,
.globo-form-control select {
  height: 50px;
}

.globo-form-control .label-content,
.globo-form-control .checkbox-wrapper .checkbox-label {
  font-weight: 700 !important;
}

.globo-form-control label {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.globo-form-control .gfb__rating-stars fieldset label {
  max-width: 60px;
}

.globo-form-control .gfb__rating-stars fieldset {
  justify-content: center !important;
}

/** Makes sure that collections with 4 or less are centralised. **/

@media screen and (min-width: 750px) {
  .cl-related-grid-4 {
    justify-content: center;
  }

  .grid.product-grid.contains-card.contains-card--product:not(.grid.product-grid.contains-card.contains-card--product.slider.slider--desktop) {
    justify-content: center;
  }
}

.product-range__link {
  margin-right: 1rem;
}

/*! tailwindcss v3.4.11 | MIT License | https://tailwindcss.com*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

ul,
ol {
  list-style: revert;
}

*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

.twcss-m-auto {
  margin: auto;
}

.twcss-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.twcss-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.twcss-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.twcss-mb-4 {
  margin-bottom: 1rem;
}

.twcss-mb-8 {
  margin-bottom: 2rem;
}

.twcss-ml-8 {
  margin-left: 2rem;
}

.twcss-mr-1 {
  margin-right: 0.25rem;
}

.twcss-mt-0 {
  margin-top: 0px;
}

.twcss-mt-8 {
  margin-top: 2rem;
}

.twcss-inline-block {
  display: inline-block;
}

.twcss-flex {
  display: flex;
}

.twcss-grid {
  display: grid;
}

.twcss-hidden {
  display: none;
}

.twcss-w-full {
  width: 100%;
}

.twcss-max-w-\[1440px\] {
  max-width: 1440px;
}

.twcss-flex-1 {
  flex: 1 1 0%;
}

.twcss-list-none {
  list-style-type: none;
}

.twcss-grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.twcss-items-start {
  align-items: flex-start;
}

.twcss-items-end {
  align-items: flex-end;
}

.twcss-justify-end {
  justify-content: flex-end;
}

.twcss-justify-center {
  justify-content: center;
}

.twcss-justify-between {
  justify-content: space-between;
}

.twcss-gap-8 {
  gap: 2rem;
}

.twcss-overflow-x-auto {
  overflow-x: auto;
}

.twcss-whitespace-nowrap {
  white-space: nowrap;
}

.twcss-rounded-xl {
  border-radius: 0.75rem;
}

.twcss-border-r {
  border-right-width: 1px;
}

.twcss-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.twcss-bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.twcss-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.twcss-p-0 {
  padding: 0px;
}

.twcss-px-20 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.twcss-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.twcss-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.twcss-py-\[28px\] {
  padding-top: 28px;
  padding-bottom: 28px;
}

.twcss-pb-4 {
  padding-bottom: 1rem;
}

.twcss-pb-8 {
  padding-bottom: 2rem;
}

.twcss-pr-3 {
  padding-right: 0.75rem;
}

.twcss-pt-8 {
  padding-top: 2rem;
}

.twcss-text-center {
  text-align: center;
}

.twcss-text-right {
  text-align: right;
}

.twcss-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.twcss-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.twcss-font-bold {
  font-weight: 700;
}

.twcss-normal-case {
  text-transform: none;
}

.twcss-leading-3 {
  line-height: 0.75rem;
}

.twcss-text-\[\#666\] {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}

.twcss-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.twcss-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.before\:twcss-shadow-none::before {
  content: var(--tw-content);
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.after\:twcss-shadow-none::after {
  content: var(--tw-content);
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:twcss-opacity-75:hover {
  opacity: 0.75;
}

@media (min-width: 750px) {
  .md\:twcss-mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .md\:twcss-block {
    display: block;
  }

  .md\:twcss-hidden {
    display: none;
  }

  .md\:twcss-min-h-\[46\.8px\] {
    min-height: 46.8px;
  }

  .md\:twcss-auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }

  .md\:twcss-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:twcss-pb-1 {
    padding-bottom: 0.25rem;
  }
}

@media (min-width: 990px) {
  .lg\:twcss-mb-\[1px\] {
    margin-bottom: 1px;
  }
}
