cl-slideshow-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cl-slideshow__slide {
  padding: 0;
  width: 80%;
  margin-left: 40px;
  height: 100%;
}

@media screen and (max-width: 749px) {
  .cl-slideshow {
    min-height: 320px;
  }
  .cl-slideshow__slide {
    margin-left: 20px;
  }
}
