.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  gap: 2rem;
}

.blog-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  overflow-x: auto;
  white-space: nowrap;
}
