/* Frequently bought together widget */
lb-product-page-cross-sell-ew .ppcse-card-lt-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  max-width: unset;
  background: none;
  width: 100%;
}
lb-product-page-cross-sell-ew .lb-upsell-product-page-card {
  margin: 0px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  width: 200px;
  position: relative;
}

lb-product-page-cross-sell-ew lb-product-card {
  width: 100%;
  height: 100%;
}

lb-product-page-cross-sell-ew .lb-spc-cont {
  min-width: 100px;
  width: 100% !important;
}

lb-product-page-cross-sell-ew .lb-spc-body {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

lb-product-page-cross-sell-ew .ppcse-title {
  width: 100%;
}

lb-product-page-cross-sell-ew .ppcse-offer-desc {
  width: 100%;
  color: #000;
  font-weight: 600;
  margin-bottom: 16px;
}
lb-product-page-cross-sell-ew .lb-spc-details-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
lb-product-page-cross-sell-ew .lb-spc-details-name {
  width: 100%;
  text-overflow: unset;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-align: start;
  font-weight: 600;
}
lb-product-page-cross-sell-ew .lb-spc-details-btm {
  order: 1;
}
lb-product-page-cross-sell-ew .lb-shared-variants-select {
  width: 100% !important;
}
lb-product-page-cross-sell-ew .lb-spc-details-checkbox-cont {
  padding: 0px;
  order: 1;
}
lb-product-page-cross-sell-ew .ppcse-card-plus {
  display: flex;
  font-size: 30px;
  font-weight: 100;
  margin-left: 5px;
  top: 42%;
  right: -17px;
  position: absolute;
}

lb-product-page-cross-sell-ew .lb-spc-image-cont {
  width: 100% !important;
  height: 120px !important;
  margin: 0px !important;
}

lb-product-page-cross-sell-ew .lb-spc-image {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}

lb-product-page-cross-sell-ew .ppcse-card-tot-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: unset;
  width: 100%;
  flex-direction: row;
  color: #000;
}

lb-product-page-cross-sell-ew .ppcse-card-tot div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

lb-product-page-cross-sell-ew .ppcse-card-lt-cont .lb-spc-cont {
  padding: 8px 6px;
}
lb-product-page-cross-sell-ew .ppcse-card-tot-price .lb-upsell-money-2 {
  font-size: 20px;
  font-weight: 600;
}

lb-product-page-cross-sell-ew .lb-spc-details-variants {
  padding: 4px;
  width: 100%;
}

lb-product-page-cross-sell-ew .lb-spc-details-price-wrap {
  display: flex;
  flex-wrap: wrap;
}

lb-product-page-cross-sell-ew .lb-upsell-product-page-card .lb-spc-details-btm {
  width: 100%;
  margin: 0px !important;
}

lb-product-page-cross-sell-ew
  .lb-upsell-product-page-card
  .lb-spc-details-cont {
  padding-left: 10px;
  margin: 0px;
}
lb-product-page-cross-sell-ew .lb-upsell-product-page-card {
  position: relative !important;
}

lb-product-page-cross-sell-ew .lb-spc-details-price-cont {
  order: 2;
  width: 100%;
  color: #000;
}

lb-product-page-cross-sell-ew .ppcse-confirm-button-div {
  max-width: 100%;
  width: 230px;
}

lb-product-page-cross-sell-ew .ppcse-card-tot-text {
  font-weight: 600;
}

lb-product-page-cross-sell-ew .lb-spc-details-variants {
  padding: 4px 10px 4px 0px;
}

@media only screen and (max-width: 630px) {
  lb-product-page-cross-sell-ew .lb-spc-image-cont {
    width: 100% !important;
    height: 120px !important;
  }
}

@media only screen and (max-width: 530px) {
  lb-product-page-cross-sell-ew .lb-spc-image-cont {
    height: 100px !important;
  }
}

@media only screen and (max-width: 1023px) {
  lb-product-page-cross-sell-ew .lb-upsell-product-page-card {
    width: calc(80% - 20px) !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 0px 10px !important;
  }
  lb-product-page-cross-sell-ew .ppcse-card-plus {
    position: static !important;
    line-height: 24px;
  }
  lb-product-page-cross-sell-ew .ppcse-card-lt-cont {
    justify-content: center !important;
  }
  lb-product-page-cross-sell-ew .ppcse-card-tot-price .lb-upsell-money-2 {
    font-size: 16px;
    font-weight: 600;
  }
  lb-product-page-cross-sell-ew .ppcse-card-tot-footer .ppcse-card-tot {
    margin: 0px 0px 5px 0px;
  }
  lb-product-page-cross-sell-ew .lb-upsell-tot-btn {
    height: 30px !important;
    padding: 0px !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }

  .ppcse-offer-desc,
  .ppcse-title {
    text-align: center !important;
  }
  .ppcse-card-tot-footer {
    flex-direction: column !important;
  }
}
@media only screen and (min-width: 1024px) {
  lb-product-page-cross-sell-ew .ppcse-confirm-button-div {
    margin-left: 18px;
  }
  lb-product-page-cross-sell-ew .ppcse-card-tot-footer {
    justify-content: flex-start;
  }
  lb-product-page-cross-sell-ew lb-product-card {
    display: flex;
  }
  
  lb-product-page-cross-sell-ew .ppcse-card-lt-cont .lb-spc-cont {
  	display: flex;
  } 
  lb-product-page-cross-sell-ew .lb-spc-details-checkbox-cont {
  	margin-top: auto;
  }
  lb-product-page-cross-sell-ew .lb-spc-details-price-cont {
  	order: 1;
  }
}

/* Product add-ons widget - for bundles */
.lb-upsell-ppa-title {
	display: none;
}
.lb-upsell-ppa-offer-desc {
	
	font-weight: 600;
}

.lb-spc-details-name {
	font-weight: 600;
}
.selleasy-block-product-addon {
	display: flex;
}
@media only screen and (max-width: 1023px) {
	.selleasy-block-product-addon {
		justify-content: center;
		text-align: center;
	}
}
