/** Typography styles **/
.h0,
.h1,
.h2,
.h3,
.h4,
.hxl,
.badge,
.ingredients__accordion-content h1,
.ingredients__accordion-content h2,
.ingredients__accordion-content h3,
.jdgm-rev-widg__title {
  @apply twcss-font-bold !important;
  @apply twcss-text-black;
}

.contains-content-container h3,
.banner__content h2,
.contains-content-container h2,
.banner__content h2,
.button {
  @apply twcss-font-bold !important;
}

.page-title.h0 {
  text-align: center;
}

.full-unstyled-link:hover {
  text-decoration: none !important;
}

ul,
ol {
  @apply twcss-py-[16px] !important;
}

.link.animate-arrow {
  @apply twcss-flex twcss-items-center twcss-justify-center;
}

.rich-text__text {
  @apply twcss-text-[#231F20];
}

svg.icon.icon-arrow path {
  stroke-width: 3px;
}

/** Navigation **/
.header__inline-menu .link {
  font-size: 1.6rem !important;
}

a.mega-menu__link.mega-menu__link--level-2 {
  @apply twcss-font-bold !important;
  @apply twcss-text-[#231F20];
  font-size: 1.8rem !important;
}

li.menu-link__with-image {
  @apply twcss-mr-4;
}

li.menu-link__without-image {
  @apply twcss-px-16;
}

.header__icon .icon.icon-search {
  width: 2.8rem;
  height: 2.8rem;
}

.header__icon--search {
  @apply twcss-mr-4;
}

.modal__content {
  @apply md:twcss-bg-transparent !important;
}

/** multi column **/
.multicolumn-card.content-container {
  @apply twcss-h-full twcss-flex twcss-flex-col;
}

.multicolumn-card.content-container .multicolumn-card__info {
  @apply twcss-flex twcss-flex-col twcss-h-full;
}

.multicolumn-card.content-container .multicolumn-card__info .link__wrapper {
  @apply twcss-mt-auto;
}

/** Custom styling for Store locator **/
form#bh-sl-user-location button#scapl-geocode-btn {
  @apply twcss-border twcss-border-solid twcss-border-2 twcss-border-gray-300 twcss-rounded-l-none twcss-mt-0;
  color: #0d374b;
  background-color: transparent !important;
  border-color: #231f20;
  margin-top: 0px !important;
}

form#bh-sl-user-location button {
  @apply twcss-h-[46px];
}

#bh-sl-address {
  @apply twcss-border twcss-p-2;
}

.bh-sl-container #page-header {
  @apply twcss-hidden;
}

.bh-sl-form-container {
  @apply twcss-border-0;
  #scasl-tab-radius {
    @apply twcss-p-0;
  }
}

#scasl-app-container {
  @apply md:twcss-px-24;
}

.scasl-see-more-content {
  @apply twcss-flex twcss-space-x-4 twcss-w-full;
}

.scasl-address-wrap {
  @apply twcss-flex twcss-w-full;
}

input#bh-sl-address {
  @apply twcss-w-[90%] !important;
  @apply twcss-rounded-r-none;
}

select#scasl-lengthUnit,
select#scasl-radius-container,
input#bh-sl-address {
  border-color: #231f20;
  border-width: 1px;
}

form#bh-sl-user-location .scasl-search-btn {
  @apply twcss-border-0 twcss-p-0;
}

.bh-sl-filters-container {
  @apply twcss-flex twcss-flex-col twcss-justify-center twcss-pl-12 twcss-pt-4;
}

.bh-sl-filters-container label {
  display: none;
}

.permission-error {
  display: none !important;
}

/** reviews **/
.jdgm-rev-widg__header {
  @apply twcss-pt-8;
}

.jdgm-rev-widg__title {
  @apply twcss-pb-8;
}

.jdgm-all-reviews-rating-wrapper {
  @apply twcss-py-4 !important;
}

.jdgm-carousel-number-of-reviews {
  @apply twcss-text-black twcss-font-bold twcss-pt-4 !important;
}

.jdgm-carousel-item__review-body,
.jdgm-carousel-item__review-rating,
.jdgm-carousel-item__review-title,
.jdgm-carousel-item__reviewer-name {
  @apply twcss-text-left;
}

.jdgm-carousel-item__review-rating {
  @apply twcss-mb-8 !important;
}

.jdgm-carousel-item__reviewer-name.jdgm-ellipsis {
  @apply twcss-text-black !important;
  @apply twcss-font-bold !important;
}
.jdgm-row-readmore {
  @apply twcss-hidden !important;
}
.jdgm-rev-carousel .jdgm-rev {
  @apply twcss-shadow-none	!important;
}

/** Footer styles **/
.footer-block.grid__item a,
.footer__copyright {
  @apply twcss-text-white !important;
  @apply twcss-opacity-100 !important;
}

.footer__copyright,
.footer__payment {
  @apply md:twcss-mt-0 !important;
}

.footer__social,
.footer__payment,
.footer__copyright {
  @apply md:twcss-flex md:twcss-h-full md:twcss-items-center;
}

.toggle-menu {
  @apply twcss-bg-transparent twcss-border-none twcss-cursor-pointer;
}

.toggle-menu svg {
  @apply twcss-text-gray-700;
}

.footer-block.grid__item {
  @apply twcss-border-b md:twcss-border-0;
}

.footer__bottom {
  @apply twcss-flex twcss-flex-col md:twcss-flex-row md:twcss-justify-between twcss-w-full md:twcss-items-center twcss-justify-start;
}

.footer__content-bottom {
  @apply twcss-border-transparent !important;
  @apply md:twcss-border-white !important;
}

.footer__content-top.page-width {
  @apply twcss-pb-0 md:twcss-pb-[5rem] twcss-px-[32px] md:twcss-px-[5rem];
}

.footer__blocks-wrapper.grid {
  @apply twcss-mb-0 md:twcss-mb-[2rem];
}

.footer-block.grid__item {
  @apply twcss-my-[3rem] !important;
}

.banner__box.content-container--full-width-mobile {
  @apply md:twcss-w-1/2;
}

.image-with-text__text-item.grid__item {
  @apply twcss-my-auto;
}

.subtitle {
  color: #165c7d !important;
}

.multicolumn .title-wrapper-with-link {
  @apply twcss-justify-center;
}

/** Slider buttons **/
.slider-buttons {
  @apply twcss-flex twcss-gap-4 twcss-py-8;
}

.slider-buttons button.slider-button {
  @apply twcss-bg-[#D0DEE5] twcss-rounded-md twcss-p-4;
}

.slider-buttons button svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

/** Pagination **/
.pagination__item,
.pagination__item.link {
  @apply twcss-rounded-md twcss-p-4 twcss-border twcss-border-solid twcss-border-gray-300;
}

a.pagination__item-arrow {
  @apply twcss-bg-[#D0DEE5] twcss-rounded-md twcss-p-4;
}

.pagination__item--current {
  @apply twcss-bg-[#8EC2C9] !important;
}
.pagination__item--current::after {
  @apply twcss-bg-transparent !important;
}

.jdgm-carousel__arrows {
  @apply twcss-pt-16;
}
.jdgm-carousel-wrapper {
  @apply twcss-pb-0 !important;
}

/** Product cards **/
.product-card-wrapper .card__information {
  @apply twcss-flex twcss-flex-col twcss-justify-between twcss-h-full;
}

.collection__title {
  @apply twcss-text-center;
}

.card__heading {
  @apply twcss-gap-4;
}

.product-title {
  @apply twcss-mb-4;
}

/** Product **/
.ingredient__accordion-content p:last-child {
  @apply twcss-pb-8;
}

/** Ingredient filter list **/
.alpha-list-group {
  @apply twcss-grid twcss-grid-cols-1 md:twcss-grid-cols-3 twcss-gap-32 twcss-list-none md:twcss-auto-rows-fr;
}

.ingredient__search {
  @apply md:twcss-w-1/2 twcss-m-auto;
}

/** Alphabet filter **/
.character-element {
  @apply twcss-cursor-pointer;
}

.character-element:hover {
  text-decoration: underline !important;
}

/** Ingredient card **/
.ingredient-card {
  @apply twcss-grid twcss-grid-rows-[auto_1fr_auto] twcss-h-full;
  @apply twcss-text-[#231F20];
}

.ingredient-card__title {
  @apply twcss-row-start-1 twcss-row-end-2;
}

.ingredient-card__description {
  @apply twcss-row-start-2 twcss-row-end-3 twcss-border-b twcss-overflow-hidden twcss-pb-4;
}

.ingredients-card__benefits {
  @apply twcss-row-start-3 twcss-row-end-4;
}

.ingredients-card__benefits h4 {
  @apply twcss-my-4;
}

.ingredients-card__benefits ul {
  @apply twcss-p-0 !important;
}

.ingredients-card__benefits li {
  @apply twcss-inline;
}

.ingredients-card__used-in--products .link {
  @apply twcss-mr-1;
}

/** Newsletter **/
.newsletter__wrapper {
  @apply md:twcss-flex md:twcss-justify-between;
}

.newsletter__wrapper .newsletter__left {
  @apply md:twcss-basis-1/2;
}
.newsletter__wrapper .newsletter__right {
  @apply md:twcss-basis-1/2;
}

/** Slideshow **/
.slideshow__controls {
  @apply twcss-border-none !important;
}

ul.collection-list .card__information,
ul.collection-list .card__content {
  @apply twcss-px-0 !important;
}

/** blogs **/
.article-template__content {
  @apply twcss-text-black !important;
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply twcss-mb-8;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply twcss-font-bold;
    @apply twcss-text-black !important;
  }
  p {
    @apply twcss-mb-4;
  }
}
.article-template__content h2 {
  @apply h2;
}

.rte img {
  @apply twcss-border-none !important;
  @apply twcss-inline-block !important;
  @apply twcss-py-16;
}
/** Collections **/
.collection-hero__title {
  @apply twcss-font-bold;
}

.article-template__back {
  @apply twcss-hidden;
}

/* Collapsable Row */
.h4.accordion__title {
  @apply twcss-text-[24px];
}
.h4.accordion__title,
.accordion__content {
  @apply twcss-text-black twcss-text-black;
  @apply twcss-p-0 !important;
}

.collapsible-content .accordion__content {
  @apply twcss-py-8 !important;
}

.accordion {
  border-top: none !important;
}

.ingredient__accordion span.metafield-multi_line_text_field {
  @apply twcss-text-xl !important;
}

/** Points **/
.Avada-PointsCalculator__Container {
  @apply twcss-font-bold twcss-border-b-2;
}

/** Product Media **/
.cl-product__media {
  @apply md:twcss-flex md:twcss-flex-row !important;
}

.cl-slider-media {
  @apply md:twcss-w-9/12;
  order: 2;
}

.cl-thumbnail-slider {
  @apply md:twcss-w-3/12 md:twcss-justify-start;
}

.cl-thumbnail-slider .thumbnail-list {
  @apply md:twcss-flex-col md:twcss-justify-start;
}

/** Shade swatch **/
.product-form__input--pill--shade {
  @apply twcss-flex;
}

.product-form__input--pill--shade label {
  @apply twcss-flex twcss-items-center;
}

.product-form__input--pill--shade input[type='radio'] + label {
  @apply twcss-border-none !important;
}

.product-form__input--pill--shade input[type='radio']:checked + label {
  @apply twcss-bg-transparent twcss-text-black !important;
}

.product-form__input--pill--shade input[type='radio'] + label {
  @apply twcss-p-0 twcss-m-0 twcss-flex twcss-flex-row !important;
}

.product-form__input--pill--shade input[type='radio'] + label span {
  @apply twcss-mr-4;
}

.product-form__input--pill--shade
  input[type='radio']:checked
  + label
  span.cl-swatch {
  @apply twcss-border-black twcss-border-2;
}

span.cl-swatch {
  @apply twcss-block twcss-h-16 twcss-w-16 twcss-rounded-md;
}
